.text-over{
  background-color: rgba(0,0,0,.8);
  color: red;
  position: absolute;
  width: 80%;
  top: 75%;
  left: 10%;
  font-weight: bold;
}

.desktop {
  font-size: 36px;
}

.mobile {
  font-size: 20px;
}



.img-div {
  position: relative;
  display: inline-block;
}

.img-div:hover {
  cursor: pointer;
}

.project-title{
  margin: 3px 0 3px 5px;
  justify-content: flex-start;
  font-weight: 400;
}

.project-icon {
  margin: 3vh 30px;
  font-size: 10vh;
}

.project-icon:hover {
  cursor: pointer;
}

.project-screenshot {
  width: auto;
  height: 80vh;
  object-fit: contain;
}

.button-div {
  width: 66%;
  margin-left: 17%;
  justify-content: center;
}

.project-button {
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  /* border: 1px solid black; */
  /* //box-shadow: 0 0 20px rgba(255, 166, 158, .4); */
  background-color: rgba(173, 216, 230, .7);
  border-radius: 10px;

}

.project-button:hover {
  background-color: rgba(173, 216, 230, .4);
  /* border: 1px solid rgba(165, 255, 214); */
  box-shadow: 0 0 20px rgba(165, 255, 214, .4);

} 

.project-description {
  margin-bottom: 8px;
  font-size: 20px;
}


button:hover {
  cursor: pointer;
}

._80 {
  width: 80%;
}

.desk{
  display: none;
}

.mob {
  display: flex;
}

@media only screen and (min-width: 800px) {
  .project-icon {
    margin-top: 35vh;
    font-size: 10vh;
  }

  .mob{
    display: none;
  }

  .desk{
    display: flex
  }
}