.text-over{
  background-color: rgba(0,0,0,.8);
  color: red;
  position: absolute;
  width: 80%;
  top: 75%;
  left: 10%;
  font-weight: bold;
}

.desktop {
  font-size: 36px;
}

.mobile {
  font-size: 20px;
}

.icon {
  height: inherit;
}



.project-title{
  margin: 3px 0 3px 5px;
  justify-content: flex-start;
  font-weight: 400;
}

.project-icon {
  margin: 13% 30px 0;
  font-size: 10vh;
}

.project-icon:hover {
  cursor: pointer;
}

.project-screenshot-desk {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.project-screenshot-mobile {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.display {
  width: 70vw;
}

.prod_50 {
  justify-content: center;
  margin: 0 0 15px 0;
  width: 60%;
  object-fit: contain;
}

.img-div-mobile {
  position: relative;
  width: auto;
  height: 60vh;
  display: inline-block;
}

.img-div-desk{
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
}

.img-div:hover {
  cursor: pointer;
}

.project-info {
  width: 30%;
}

.button-div {
  width: 66%;
  margin-left: 17%;
  justify-content: center;
}

.project-button {
  margin: 8px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  /* border: 1px solid black; */
  /* //box-shadow: 0 0 20px rgba(255, 166, 158, .4); */
  background-color: rgba(173, 216, 230, .7);
  border-radius: 10px;

}

.project-button:hover {
  background-color: rgba(173, 216, 230, .4);
  /* border: 1px solid rgba(165, 255, 214); */
  box-shadow: 0 0 20px rgba(165, 255, 214, .4);

} 

.project-description {
  margin-bottom: 8px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

._80 {
  width: 80%;
}

.desk{
  display: none;
}

.mob {
  display: flex;
}

.fade-exit{
  opacity: 1;

}

.fade-exit.fade-exit-active {
  opacity: 0; 
  transition: opacity 500ms linear;
}

.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1; 
  transition: opacity 500ms linear;
}

@media only screen and (min-width: 800px) {
  .project-icon {
    margin-top: 40%;
    font-size: 10vh;
  }

  .mob{
    display: none;
  }

  .desk{
    display: flex
  }
}